<div class="row">
    <div class="column">
        Turns left:
    </div>
    <div class="column">
        <%= @tally.turns_left %>
    </div>
</div>
<div class="row">
    <div class="column">
        Letters used:
    </div>
    <div class="column">
        <%= @tally.used |> Enum.join(", ") %>
    </div>
</div>
<div class="row">
    <div class="column">
        Words So Far:
    </div>
    <div class="column">
        <%= @tally.letters |> Enum.join(" ") %>
    </div>
</div>
